services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - gateway
      - frontend
    networks:
      - transcendence-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    working_dir: /app
    networks:
      - transcendence-network

  game:
    build:
      context: ./services/game
      dockerfile: Dockerfile.dev
    ports:
      - "3002:3002"
    networks:
      - transcendence-network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    networks:
      - transcendence-network

networks:
  transcendence-network:
    driver: bridge

  # # user:
  #   build:
  #     context: ./user_management
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "3003:3003"
