version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    environment:
      JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
    depends_on:
      - user-service

  user-service:
    build: ./user-service
    ports:
      - "4000:4000"
    environment:
      JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
      JWT_PRIVATE_KEY: ${JWT_PRIVATE_KEY}
