services:
  database:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
    ports:
      - "5432:5432" # container port to laptop port - to connect with dbeaver
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - transcendence-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d game_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - gateway
      - frontend
    networks:
      - transcendence-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    working_dir: /app
    networks:
      - transcendence-network
    environment:
      - DOCKER=true

  game:
    build:
      context: ./services/game-service
      dockerfile: Dockerfile.dev
    depends_on:
      database:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://myuser:mypassword@database:5432/game_db
    ports:
      - "3002:3002"
    networks:
      - transcendence-network
  
  #user:
  #  build:
  #    context: ./services/user-service
  #    dockerfile: Dockerfile.dev
  #  depends_on:
  #   database:
  #     condition: service_healthy
  #  environment:
  #    DATABASE_URL: postgres://myuser:mypassword@database:5432/user_db
  #  ports:
  #    - "3003:3003"
  #  networks:
  #    - transcendence-network

  # # user:
  #   build:
  #     context: ./user_management
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "3003:3003"
  
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    networks:
      - transcendence-network

networks:
  transcendence-network:
    driver: bridge

volumes:
  postgres_data:

