.close-btn-hover {
	transition: font-weight 0.2s;
	font-weight: bold;
}

.chat-widget {
	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: var(--color-accent-pink);
}

.chat-labels {
	color: var(--color-text-secondary);
}

.chat-expand-btn {
	background: var(--color-accent-pink);
	color: white;
	border: none;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background 0.2s;
	border: solid 2px var(--color-accent-pink);
	background-color: var(--color-surface);
}

.chat-expand-btn:hover {
	background: var(--color-accent-pink);
}

.chat-widget.expanded .chat-container {
	width: 350px;
	height: 45vh;
	background: var(--color-surface);
	border-radius: 1rem;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border: var(--color-accent-pink);
	padding: 16px;
	row-gap: 16px;
}

.chat-tabs {
	display: flex;
	align-items: center;
	font-size: smaller;
	background: var(--color-surface);
}

.chat-tab-btn {
	background: none;
	border: 1px solid var(--color-border);
	font-weight: 500;
	margin-right: 1px;
	padding: 0.5rem 0.75rem;
	border-radius: 0.15rem;
	cursor: pointer;
	transition:
		color 0.2s,
		background 0.2s;
}

.chat-tabs .close {
	margin-left: 8px;
	transition: font-weight 0.2s;
	align-items: center;
	font-weight: normal;
}
.chat-tabs .close:hover {
	font-weight: bolder;
	font-size: larger;
}

.chat-tab-btn.active {
	color: #fff;
	background: var(--color-accent-pink);
	border-color: var(--color-accent-pink);
}

.chat-tabs .close {
	display: inline-block;
	width: 1.2em;
	text-align: center;
	font-weight: 400;
	transition: font-weight 0.2s;
}
.chat-tabs .close:hover {
	font-weight: 700;
}

.chat-close-btn {
	margin-left: auto;
	background: none;
	border: none;
	color: #9ca3af;
	font-size: 1.2rem;
	cursor: pointer;
}

.chat-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.chat-tab-content {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	height: 100%;
}

.chat-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	padding-bottom: 0.5rem;
}

.chat-header .status {
	font-size: small;
	font-weight: 400;
}

.chat-list {
	flex: 1;
	overflow-y: auto;
	padding: 1rem;
}

.chat-list-item {
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
	transition: background 0.2s;
}

.chat-list-item:hover {
	background: #f3f4f6;
}

.chat-messages {
	flex: 1;
	overflow-y: auto;
	font-size: 0.97rem;
	color: white;
	/* height: 100%; */
}

