@import 'tailwindcss';

@font-face {
	font-family: 'Retro';
	src: url('/fonts/kongtext.ttf') format('trueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bit';
	src: url('/fonts/bit5x3-fixed.ttf') format('trueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bit Large';
	src: url('/fonts/bit5x5-fixed.ttf') format('trueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bit Slim';
	src: url('/fonts/bit9x9-fixed.ttf') format('trueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-retro: 'Retro', sans-serif;
	--font-bit: 'Bit', sans-serif;
	--font-bit-slim: 'Bit Slim', sans-serif;
	--font-bit-large: 'Bit Large', sans-serif;

	--color-bg: #121212;
	--color-surface: #181818;
	--color-elevated: #1f1f1f;
	--color-border: #2a2a2a;
	--color-inverse: var(--color-neutral-300);

	--color-text-primary: var(--color-neutral-300);
	--color-text-secondary: #b3b3b3;
	--color-text-muted: #737373;
	--color-text-inverse: #121212;

	--color-accent-pink: var(--color-pink-600);
	--color-accent-pink-hover: #f08ac5;
	--color-accent-blue: #3b82f6; /* #0c8ce9 */
	--color-accent-purple-dark: var(--color-purple-600);
	--color-accent-purple-light: var(--color-purple-500);
	--color-accent-amber: #fbbf24;

	--color-status-online: #4ade80; /* #00FF85 */
	--color-status-offline: #ef4444; /* red-500 */
	--color-status-busy: #fbbf24; /* amber */
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
}

button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

.no-scale:hover,
.no-scale:active {
	transform: none !important;
}

.color-brand {
	color: var(--color-accent-pink);
}

.color-blue {
	color: var(--color-accent-blue);
}

.color-online {
	color: var(--color-status-online);
}

.color-offline {
	color: var(--color-status-offline);
}

.color-busy {
	color: var(--color-status-busy);
}

.color-muted {
	color: var(--color-text-border);
}

/* Dark mode scrollbar styling */
::-webkit-scrollbar {
	width: 10px;
	background: var(--color-elevated);
}
::-webkit-scrollbar-thumb {
	background: var(--color-text-secondary);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-accent-pink);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-border) var(--color-surface);
}

@tailwind utilities;
